<!DOCTYPE html>

{% extends "base.html" %}

{% block title %}S&R Get Hitched{% endblock %}

{% block content %}
  <div class="container">
    <img src="{{ url_for('static', filename='images/kp_cowgirl.png') }}" alt="My Profile Picture" class="Photo1">
    <h1>Sam & Russell</h1>
    <p class="bio">Hello и Привет my sweet little bean! :)</p>
    <h2>Random</h2>
    <ul class="Location">
      <li>Vinyl DJ</li>
      <li>Джаз</li>
      <li>Photo Booth</li>
      <li>Poopy Pool</li>
    </ul>
  </div>
{% endblock %}

