<!DOCTYPE html>
<html lang="en">  
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>S&R Get Hitched</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
  <div class="container">
    <img src="{{ url_for('static', filename='images/kp_cowgirl.png') }}" alt="My Profile Picture" class="Photo1">
    <h1>Sam & Russell</h1>
    <p class="bio">Hello и Привет my sweet little bean! :) </p>
    <h2>Random</h2>
    <ul class="Dripping Springs, TX">
      <li>Vinyl DJ & Джаз</li>
      <li>Photo Booth</li>
      <li>Poop and Pool</li>
    </ul>
  </div>
</body>
</html>

